.row {
    display: flex;
    flex-wrap: wrap;
}
/* center all h1 */
h1 {
    text-align: center;
}

.col-4 {
    flex: 40%;
}

.col-6 {
    flex: 60%;
}

/* class for when circles are clicked on */
.highlightBorder {
	stroke: black;
	stroke-width: 5;
}

.bartooltip {

	position: absolute;
	border: solid;
	padding: 2.5px;
    cursor: pointer;

}