.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex: 40%;
}

.col-6 {
    flex: 60%;
}

/* class for when circles are clicked on */
.highlightBorder {
	stroke: black;
	stroke-width: 5;
}